# build dirs
**build/
conan/
install/
dist
out
pasio.egg-info
cmake-build-*

# python related things
.mypy_cache
.venv
.python-version

# do not populate package tests
conan_test/build
conan_test/CMakeUserPresets.json
fetch_content_test/build

# cache and user specific files
CMakeUserPresets.json
CMakeCache.cmake
CMakeFiles

# ide caches
.vs
.idea
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# clangd cache
.cache